*
{
    font-family: 微軟正黑體;
    font-weight: 600;
}

.panel-body .content img
{
    width: 100%;
}

a.topic
{
    background: #eff6fa;
    padding: 1px 10px 0;
    border-radius: 30px;
    text-decoration: none;
    margin: 0 5px 5px 0;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}

a.topic:hover
{
    background: #ff9800;
    color: #fff;
    text-decoration: none;
}

.actions
{
    display: inline-flex;
}


.user-statics , .user-actions
{
    margin-top: 20px;
}

.user-statics
{
    display: flex;
}
